<div class="card border-light mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button type="button" name="button" class="btn btn-rounded btn-primary" [routerLink] = "['/clientes/form']">Crear Cliente</button>
    </div>

    <div *ngIf="clientes.length==0" class="alert alert-info">
        No hay registros en la Base de Datos
    </div>

    <table class="table table-bordered table-striped" *ngIf="clientes.length>0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha</th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.email}}</td>
            <td>{{ cliente.createAt | date:'dd/MM/yyyy' }}</td>
            <td>
              <div class="btn-group" role="group">
              <button type="button" name="button" routerLink="/clientes/form/{{cliente.id}}" class="btn btn-warning">Editar</button>
              <button type="button" name="button" (click)='delete(cliente)' class="ml-2 btn btn-danger">Borrar</button>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
