<div class="card border-light mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="button" class="btn btn-rounded btn-primary" [routerLink] = "['/clientes/form']">Crear Cliente</button>
    </div>

    <table class="table table-bordered table-striped" *ngIf="clientes?.length || 0 > 0 else elseBlockM">
        <thead>
          <tr>
            <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td *ngIf="authService.hasRole('ROLE_USER', 'ROLE_ADMIN')">
              <img *ngIf="cliente?.foto"  (click)="abrirModal(cliente)"
              class="img-fluid rounded" style="width: 64px; cursor: pointer;"
              src="http://localhost:8883/backend-apirest/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}">

              <img *ngIf="!cliente?.foto"  (click)="abrirModal(cliente)"
              class="img-fluid rounded" style="width: 64px; cursor: pointer;"
              src="http://localhost:8883/backend-apirest/img/not_user_icon.png" alt="Sin foto">
            </td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.email}}</td>
            <td>{{ cliente.createAt }}</td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <div class="btn-group" role="group">
              <button type="button" name="button" [routerLink]="['/facturas/form', cliente.id]" class="btn btn-primary">Crear factura</button>
              <button type="button" name="button" routerLink="/clientes/form/{{cliente.id}}" class="btn btn-warning">Editar</button>
              <button type="button" name="button" (click)='delete(cliente)' class="ml-2 btn btn-danger">Borrar</button>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
    <paginator-nav [paginador]="paginador" *ngIf="paginador" ></paginator-nav>
    <ng-template #elseBlockM>
      <div class="alert alert-info">
          No hay registros en la Base de Datos
      </div>
    </ng-template>
  </div>
</div>
